.refresh-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding-left: 8px;

  button {
    border-width: 1px;
    border-color: color-mix(in srgb, transparent, var(--card-color) 16%);
    background-color: var(--card-bg);
    color: var(--card-color);
    fill: currentcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:hover {
      background-color: color-mix(
        in srgb,
        transparent,
        var(--card-color) 4%
      ) !important;
      cursor: pointer;
    }
  }

  .refresh {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
  }

  .auto-refresh {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &.active {
      background-color: color-mix(in srgb, transparent, var(--card-color) 8%);
    }
  }
}
